{% extends "app/layout.html" %}

{% block content %}
    <h1>Publicaciones</h1>
        {% for pub in pubs %}
        <div>
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                            <h1 class="modal-title">
                                <a href="{% url 'pub_detail' pk=pub.pk %}">{{ pub.titulo }}</a>
                            </h1>
                        </div>
                        <div class="modal-body">
                            <p class="text-left">{{ pub.Informacion|linebreaks }}</p>
                        </div>
                        <div class="modal-footer">
                            <small>publicado : {{ pub.FechaPublicacion }} @utor : {{pub.ID_usuario.username}}</small>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endblock %}